/**
 * Base: Button base
 */

@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/functions' as *;

.button-base {
	background: transparent;
	border: rem(2) solid transparent;
	border-radius: $borderRadius_small;
	box-shadow: none;
	display: inline-block;
	cursor: pointer;
	font-size: $fontSize_small;
	font-weight: 600;
	letter-spacing: 0;
	line-height: $lineHeight_base;
	padding: rem(6) rem(18);
	text-align: center;
	text-decoration: none;
	transition: all 0.3s ease;

	&:is(:hover, :focus-visible) {
		text-decoration: underline;
	}
	&:is(:focus-visible) {
		outline: rem(2) solid $color_black;
		outline-offset: rem(2);
	}
}
.button-default {
	background: $color_primary;
	color: $color_white;

	&:is(:hover, :focus-visible) {
		background: $color_black;
		color: $color_white;
	}
}
.button-outline {
	background: transparent;
	border-color: currentcolor;
	color: $color_primary;

	&:is(:hover, :focus-visible) {
		background: $color_black;
		border-color: $color_black;
		color: $color_white;
	}
}