/**
 * Base: Content formats
 */

ul,
ol {
	margin-bottom: 1rem;
	margin-top: 1rem;
	padding: 0 0 0 1.5em;

	li {
		margin: 0 0 0.5rem;

		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}

	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
}