/**
 * Base: Grid
 */

@use '../abstracts/functions' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.container {
	display: grid;
	grid-template-columns:
		[full-start] minmax($layout_padding, 1fr)
		[wide-start] minmax(0, $layout_breakout)
		[content-start] minmax(min(100% - $layout_padding * 4, $layout_content), 1fr) [content-end]
		minmax(0, $layout_breakout) [wide-end]
		minmax($layout_padding, 1fr) [full-end];
	margin: 0 auto;
	width: 100%;

	> *:not(.alignwide):not(.alignfull) {
		grid-column: content;
	}
	> .alignwide {
		grid-column: wide;
	}
	> .alignfull {
		grid-column: full;
	}
}

.grid {
	display: flex;
	flex-flow: row wrap;
	gap: $layout_block_gap;

	&.is-ai-start {
		align-items: flex-start;
	}
	&.is-ai-center {
		align-items: center;
	}
	&.is-ai-end {
		align-items: flex-end;
	}
	&.is-jc-start {
		justify-content: flex-start;
	}
	&.is-jc-center {
		justify-content: center;
	}
	&.is-jc-end {
		justify-content: flex-end;
	}

	@mixin grid-widths($modifier: '') {
		$base: '&--';
		@if $modifier != '' {
			$base: '&--#{$modifier}-';
		}

		@for $i from 1 through $layout_columns {
			#{$base}#{$i} > .col {
				flex: 0 0 calc(100% / $i - $layout_block_gap * ($i - 1) / $i);
				max-width: calc(100% / $i - $layout_block_gap * ($i - 1) / $i);
			}
		}
	}

	// .grid--{n} at every width
	@include grid-widths;
 	// .grid--xl-{n}
	@include mediaBetween(lg, xl) {
		@include grid-widths('xl');
	}
	// .grid--lg-{n}
	@include mediaBetween(md, lg) {
		@include grid-widths('lg');
	}
	// .grid--md-{n}
	@include mediaBetween(sm, md) {
		@include grid-widths('md');
	}
	// .grid--sm-{n}
	@include mediaBetween(xs, sm) {
		@include grid-widths('sm');
	}
	// .grid--xs-{n}
	@include mediaMaxWidth(xs) {
		@include grid-widths('xs');
	}
}
.col {
	flex: 1 0 auto;
	max-width: 100%;

	@mixin col-widths($modifier: '') {
		$base: '&--';
		@if $modifier != '' {
			$base: '&--#{$modifier}-';
		}

		@for $i from 1 through $layout_columns {
			#{$base}#{$i} {
				flex: 0 0 calc(100% / $layout_columns * $i - $layout_block_gap * ($layout_columns - $i) / $layout_columns);
				max-width: calc(100% / $layout_columns * $i - $layout_block_gap * ($layout_columns - $i) / $layout_columns);
			}
		}
	}

	// .col--{n} at every width
	@include col-widths;

	// .col--xl-{n}
	@include mediaBetween(lg, xl) {
		@include col-widths('xl');
	}
	// .col--lg-{n}
	@include mediaBetween(md, lg) {
		@include col-widths('lg');
	}
	// .col--md-{n}
	@include mediaBetween(sm, md) {
		@include col-widths('md');
	}
	// .col--sm-{n}
	@include mediaBetween(xs, sm) {
		@include col-widths('sm');
	}
	// .col--xs-{n}
	@include mediaMaxWidth(xs) {
		@include col-widths('xs');
	}
}