/**
 * Content / Page entry
 */

@use '../../abstracts/mixins' as *;
@use '../../abstracts/variables' as *;

.page-entry {
	padding-block: $page_paddingTop $page_paddingBottom;

	&__title {
		margin: 0 0 $layout_block_gap;
		overflow-wrap: anywhere;
	}
}