/**
 * Content: Post card
 */

@use '../abstracts/functions' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.post-card {
	background: $color_white;
	border: rem(1) solid $color_gray_100;
	border-radius: $borderRadius_small;
	display: flex;
	flex-flow: column nowrap;
	overflow: hidden;
	transition: border-color 0.3s ease, transform 0.3s ease;

	&__media {
		aspect-ratio: 16 / 9;
		background: $color_gray_100;
		display: block;
		margin: 0;
		overflow: hidden;
		position: relative;
	}
	&__image {
		display: block;
		height: 100%;
		inset: 0;
		object-fit: cover;
		object-position: center;
		position: absolute;
		transition: transform 0.3s ease;
		width: 100%;
	}
	&__media-link {
		inset: 0;
		position: absolute;
	}

	&__body {
		padding: $layout_padding;
	}
	&__tags,
	&__meta {
		display: flex;
		flex-flow: row wrap;
		margin: 0;
		padding: 0;

		li {
			list-style-type: none;
			margin: 0;
		}
	}
	&__tags {
		font-size: $fontSize_small;
		margin-block: 0 $layout_padding;

		li:not(:last-child)::after {
			content: ",";
			margin-inline-end: 0.25em;
		}

		a {
			color: $color_gray_500;
		}
	}
	&__meta {
		color: $color_gray_500;
		font-size: $fontSize_small;
		gap: $layout_padding;
		justify-content: space-between;
		margin-block: $layout_padding 0;
	}
	&__title {
		margin-block: 0 $layout_padding;
	}
	&__excerpt {
		color: $color_gray_900;
	}
	&__navigation {
		margin-block: $layout_padding 0;
	}
	&__more {
		@include iconMask(('arrow-right'), after, currentColor, rem(16), true);
		color: $color_primary;
		font-weight: 700;
		padding-right: calc(rem(16) + $layout_padding);
		position: relative;

		&::after {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	// States
	&:is(:hover, :focus-within) {
		border-color: $color_primary;

		.post-card__image {
			transform: scale(1.1);
		}
	}
}
