/**
 * Content: Post entry
 */

@use '../../abstracts/mixins' as *;
@use '../../abstracts/variables' as *;

.post-entry {
	padding-block: calc($layout_padding * 2);

	&__title {
		margin: 0 0 $layout_block_gap;
		overflow-wrap: anywhere;
	}
}
