/**
 * Mixins
 */

@use 'variables' as vars;

/* --- Media Queries --- */
@mixin mediaMinWidth( $minWidth ) {
	@if type-of($minWidth)==string {
		$minWidth: map-get(vars.$breakpoints, $minWidth);
	}

	@media screen and (min-width: #{$minWidth + 0px}) {
		@content;
	}
}

@mixin mediaMaxWidth( $maxWidth ) {
	@if type-of($maxWidth)==string {
		$maxWidth: map-get(vars.$breakpoints, $maxWidth);
	}

	@media screen and (max-width: #{$maxWidth + 0px}) {
		@content;
	}
}

@mixin mediaBetween( $minWidth, $maxWidth ) {
	@if type-of($minWidth)==string {
		$minWidth: map-get(vars.$breakpoints, $minWidth);
	}

	@if type-of($maxWidth)==string {
		$maxWidth: map-get(vars.$breakpoints, $maxWidth);
	}

	@media screen and (min-width: #{$minWidth + 0px}) and (max-width: #{$maxWidth + 0px}) {
		@content;
	}
}

/* --- Placeholder --- */
@mixin placeholder {
	&.placeholder { @content; }
	&:-ms-input-placeholder { @content; }
	&:-moz-placeholder { @content; }
	&::-moz-placeholder { @content; }
	&::-webkit-input-placeholder { @content; }
}

/* --- Block cover --- */
@mixin blockCover() {
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

/* --- Icon Mask ---
 * Creates a mask for an icon.
 *
 * $icons is one icon name or a list of them. $position is before, after, or both.
 * Usage: @include iconMask($icons, after, currentColor, rem(20), true);
 */
@mixin iconMaskPseudoStyles( $color, $size ) {
	background: $color;
	content: '';
	display: inline-block;
	height: $size;
	mask-position: 50% 50%;
	mask-repeat: no-repeat;
	mask-size: contain;
	width: $size;
	z-index: 5;
}

@mixin _iconMaskSelector( $position, $suffix: '' ) {
	@if $position == before {
		&#{$suffix}::before { @content; }
	}
	@else if $position == after {
		&#{$suffix}::after { @content; }
	}
	@else if $position == both {
		&#{$suffix}::before,
		&#{$suffix}::after { @content; }
	}
	@else {
		@error 'iconMask position must be before, after, or both.';
	}
}

@mixin iconMask( $icons, $position: both, $color: currentColor, $size: 1rem, $applyToBase: false ) {
	@if type-of($icons) == string {
		$icons: ($icons,);
	}

	$hook: '';
	@if not $applyToBase {
		$hook: '[class*="has-icon-"]';
	}

	@include _iconMaskSelector($position, $hook) {
		@include iconMaskPseudoStyles($color, $size);
	}

	@if $applyToBase and length($icons) == 1 {
		$icon: nth($icons, 1);

		@include _iconMaskSelector($position) {
			mask-image: url('../images/icons/icon-#{$icon}.svg');
		}
	}
	@else {
		@each $icon in $icons {
			@include _iconMaskSelector($position, '.has-icon-#{$icon}') {
				mask-image: url('../images/icons/icon-#{$icon}.svg');
			}
		}
	}
}