/**
 * Variables
 */

@forward 'tokens';
@use 'functions' as *;
@use 'tokens' as *;

/* --- Breakpoints --- */
$breakpoints: (
	xxs:  421,
	xs:   551,
	sm:   782,
	md:   1025,
	lg:   1201,
	xl:   1441,
	xxl:  1921,
	xxxl: 2560
);

/* --- Layout constants --- */
$layout_columns: 12;
$layout_breakout: calc((var(--wp--custom--layout--wide) - var(--wp--custom--layout--content)) / 2);

/* --- Custom properties --- */
:root {
	--header--height: #{rem(80)};
	--header--logo-width: #{rem(275)};

	--page--padding-top: calc(var(--wp--custom--layout--padding) * 4);
	--page--padding-bottom: calc(var(--wp--custom--layout--padding) * 4);
}

$header_height: var(--header--height);
$header_logoWidth: var(--header--logo-width);
$page_paddingTop: var(--page--padding-top);
$page_paddingBottom: var(--page--padding-bottom);