/**
 * Components: Breadcrumbs
 */

@use '../abstracts/functions' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.breadcrumbs {
	display: flex;
	flex-flow: row wrap;

	a,
	&__delimiter,
	&__current,
	&__paged {
		color: $color_gray_500;
		text-decoration: none;
	}
	a {
		&:is(:hover, :focus-visible) {
			text-decoration: underline;
		}
	}
	&__delimiter {
		display: inline-block;
		font-style: normal;
		margin: 0 rem(10);

		@include mediaMaxWidth(md) {
			margin: 0 rem(5);
		}
	}
	&__current,
	&__paged {
		font-weight: 700;
	}
	&__paged {
		margin-left: rem(4);
	}
	br {
		display: none !important;
	}

	&.is-jc-center {
		justify-content: center;
	}
	&.is-jc-start {
		justify-content: flex-start;
	}
	&.is-jc-end {
		justify-content: flex-end;
	}
}