/**
 * Components: Button group
 */

@use '../abstracts/functions' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

:where(.button-group) {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  gap: $layout_block_gap;
  margin: 0;

  &.is-jc-center {
    justify-content: center;
  }
  &.is-jc-end {
    justify-content: flex-end;
  }
}