/**
 * Pagination
 */

@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.pagination {
	.nav-links {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		gap: 0 $layout_padding;
	}
	.page-numbers {
		color: $color_black;
		display: inline-block;
		font-size: $fontSize_small;
		font-weight: 400;
		min-width: rem(24);
		margin: rem(2);
		padding: rem(2);
		text-align: center;
		text-decoration: none;
		transition: all 0.3s ease;

		// Modifiers
		&.prev,
		&.next {
			position: relative;

			&.disabled {
				opacity: 0;
				visibility: hidden;
			}
		}
		&.prev {
			@include iconMask(('arrow-left'), after, currentColor, rem(16), true);
			margin-right: auto;
			padding-left: calc(rem(16) + $layout_padding);

			&::after {
				left: 0;
			}
		}
		&.next {
			@include iconMask(('arrow-right'), after, currentColor, rem(16), true);
			margin-left: auto;
			padding-right: calc(rem(16) + $layout_padding);

			&::after {
				right: 0;
			}
		}
		&.current {
			color: $color_primary;
			font-weight: 700;
			pointer-events: none;
		}

		// States
		&:is(:hover, :focus-within) {
			color: $color_primary;
			text-decoration: underline;
		}
	}
}
