/**
 * Components: Search form
 */

@use '../abstracts/functions' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.search-form {
	align-items: stretch;
	display: flex;
	flex-flow: row nowrap;
	gap: $layout_block_gap;
}