/**
 * Layout: Footer
 */

@use '../abstracts/functions' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.site-footer {
	background: $color_gray_900;
	color: $color_white;
	margin-top: auto; // sticky footer
	padding: calc($layout_padding * 2) 0;
	width: 100%;

	&__inner {
		align-items: center;
		display: flex;
		flex-flow: row wrap;
		gap: $layout_padding $layout_block_gap;
		justify-content: space-between;

		@include mediaMaxWidth( md ){
			align-items: flex-start;
			flex-flow: column nowrap;
		}
	}
	&__logo {
		display: block;
		line-height: 0;
		max-width: $footer_logoWidth;

		img {
			display: block;
			height: auto;
			width: 100%;
		}
	}
	&__navigation {
		display: flex;
		flex-flow: row wrap;
		gap: $layout_padding $layout_block_gap;
	}
	&__copyright {
		margin: 0;

		a {
			color: $color_white;

			&:is(:hover, :focus-visible) {
				color: $color_primary;
			}
		}
	}
}