/**
 * Archive Template
 */

@use '../abstracts/functions' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.archive-page {
	padding-block: $page_paddingTop $page_paddingBottom;

	.pagination {
		margin-block: calc($layout_padding * 2) 0;
	}
}

.archive-header {
	&__title {
		margin: 0;
		overflow-wrap: anywhere;
	}
	// &__count {
	// 	color: $color_gray_500;
	// 	line-height: $lineHeight_base;
	// 	margin: $layout_block_gap 0 0;
	// }
	// &__count {
	// 	font-size: $fontSize_small;
	// }
	// &__query {
	// 	color: $color_primary;
	// }
}

.card-list {
	display: grid;
	gap: $layout_block_gap;
	grid-template-columns: repeat(auto-fill, minmax(min(100%, rem(320)), 1fr));
	margin: calc($layout_padding * 2) 0 0;

	@include mediaMinWidth(md) {
		grid-template-columns: repeat(auto-fill, minmax(min(100%, rem(360)), 1fr));
	}
}

.no-results {
	color: $color_gray_500;
	margin: calc($layout_padding * 2) 0 0;
}