/**
 * Archive Template
 */

@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.archive-header {
	padding: calc($layout_padding * 4) 0 0;

	&__title {
		font-size: $fontSize_huge;
		line-height: $lineHeight_base;
		margin: 0;
		overflow-wrap: anywhere;
	}
	&__description,
	&__count {
		color: $color_gray_500;
		line-height: $lineHeight_base;
		margin: $layout_block_gap 0 0;

		> :last-child {
			margin-bottom: 0;
		}
	}
	&__count {
		font-size: $fontSize_small;
	}
	&__query {
		color: $color_primary;
	}
}

.card-list {
	display: grid;
	gap: $layout_block_gap;
	grid-template-columns: repeat(auto-fill, minmax(min(100%, remc(320)), 1fr));
	margin: calc($layout_padding * 4) 0 0;

	@include mediaMinWidth(md) {
		grid-template-columns: repeat(auto-fill, minmax(min(100%, remc(360)), 1fr));
	}
}

.no-results {
	color: $color_gray_500;
	margin: calc($layout_padding * 4) 0 0;
}