/**
 * Block: Call to Action
 */

@use '../../../assets/scss/abstracts/functions' as *;
@use '../../../assets/scss/abstracts/variables' as *;
@use '../../../assets/scss/abstracts/mixins' as *;

.block-cta {
	$b: &;

	&__container {
		position: relative;
		z-index: 1;
	}
	&__eyebrow {
		margin: 0 0 $layout_padding;
	}
	&__heading {
		margin: 0 0 $layout_padding;
	}
	&__subheading {
		margin: 0 0 $layout_padding;
	}
	&__subheading,
	&__content {
		max-width: rem(736);
	}
	&__content {
		margin: 0;
	}
	&__button-wrapper {
		margin: calc($layout_padding * 2) 0 0;
	}

	// Modifiers
	&.alignfull {
		padding-inline: $layout_block_gap;

		#{$b}__container {
			margin-inline: auto;
			max-width: $layout_content;
		}
	}
	&.has-background {
		&:not(.alignwide):not(.alignfull) {
			padding: calc($layout_padding * 2) $layout_block_gap;
		}
	}
	&.has-dark-background {
		color: $color_white;
	}
	&.has-text-align-center {
		#{$b}__subheading,
		#{$b}__content {
			margin-left: auto;
			margin-right: auto;
		}
		#{$b}__button-wrapper {
			justify-content: center;
		}
	}
	&.has-text-align-right {
		#{$b}__subheading,
		#{$b}__content {
			margin-left: auto;
		}
		#{$b}__button-wrapper {
			justify-content: flex-end;
		}
	}

	// Frontend only styles
	body:not(.wp-admin) & {
		&.has-background.alignfull {
			// &:first-child {
			// 	margin-top: calc($defaultPage_paddingTop * -1) !important;
			// }
			// &:last-child {
			// 	margin-bottom: calc($defaultPage_paddingBottom * -1) !important;
			// }
		}
	}
}